<section class="status">
    <div class=" container mx-auto text-white">
        <div class="status-box w-full lg:w-2/3 mx-auto w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl py-4">Track Delivery Status</h1>
                <h6 class=" py-1 px-4 text-green-600 text-sm">Order Id: <%= order._id%></h6>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
            </div>
        <ul>
            <li class="status_line text-xl pb-16" data-status="Order_placed"><span>Order Placed</span></li>
            <li class="status_line text-xl pb-16" data-status="confirmed"><span>Order Confirmation</span></li>
            <li class="status_line text-xl pb-16" data-status="prepared"><span>Preparartion</span></li>
            <li class="status_line text-xl pb-16" data-status="delivered"><span>Out for delivery</span></li>
            <li class="status_line text-xl"
            data-status="completed"><span>Order delivered</span></li>
        </ul>
    </div>
    </div>
</section>